body {
  padding: 60px 24px;
  background-image: $bg-mobile;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.hero-section {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: 
    "header"
    "promo";

  > .header {
    grid-area: header;
  }

  > .promo {
    grid-area: promo;
  }
}

.header {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  > .title {
    font-size: 28px;
    line-height: 1.33;
    color: $white;
    margin-bottom: 22px;
    margin-top: 32px;
    max-width: 328px;
    text-align: center;
  }

  > .lead {
    // font-size: 16px;
    line-height: 1.60;
    color: $white;
    max-width: 328px;
    text-align: center;
  }
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;

  > .highlight-card {
    height: 90px;
    background-color: $blue;
    border-radius: 10px;
    position: relative;
    margin-bottom: 24px;
    width: 100%;
    max-width: 328px;
    text-align: center;
  }

  > .highlight-card > .title {
    font-size: 16px;
    line-height: 1.25;
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 200px;
  }

  > .form {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: $white;
    border-radius: 10px;
    width: 100%;
    max-width: 328px;
    align-items: center;
  }

  > .form > .input {
    height: 58px;
    border: 2px solid $grayish-blue;
    border-radius: 10px;
    padding: 0 24px;
    color: $dark-blue;
    margin-bottom: 13px;
    width: 100%;
    max-width: 280px;
  }

  > .form > .input:focus-within {
    outline: none;
  }

  > .form > .button.-submit {
    width: 100%;
    max-width: 280px;
    height: 58px;
    // font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: $green;
    margin-bottom: 12px;
    color: $white;
  }

  > .form > .button.-submit:focus-within {
    outline: none;
  }

  > .form > .small {
    font-size: 10px;
    color: $grayish-blue;
    line-height: 1.85;
    max-width: 230px;
    text-align: center;
  }

  > .form > .small > .link {
    color: $red;
    text-decoration: none;
  }

  > .form > .small .link.-bold:hover {
    text-decoration: underline;
  }

}