body {
  padding: 60px 24px;
  background-image: $bg-mobile;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.hero-section {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: 
    "header"
    "promo";

  > .header {
    grid-area: header;
  }

  > .promo {
    grid-area: promo;
  }
}

.header {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  > .title {
    font-size: 28px;
    line-height: 1.33;
    color: $white;
    margin-bottom: 22px;
    margin-top: 32px;
    max-width: 328px;
    text-align: center;
  }

  > .lead {
    // font-size: 16px;
    line-height: 1.60;
    color: $white;
    max-width: 328px;
    text-align: center;
  }
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;

  > .highlight-card {
    height: 90px;
    background-color: $blue;
    border-radius: 10px;
    position: relative;
    margin-bottom: 24px;
    width: 100%;
    max-width: 328px;
    text-align: center;
  }

  > .highlight-card > .title {
    font-size: 16px;
    line-height: 1.25;
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 200px;
    // padding: 0 28px;
  }
}

@media screen and (min-width: 992px) {
  body {
    padding: 120px 160px;
    background-image: $bg-desktop;
  }

  .hero-section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    grid-template-areas: 
      "header promo";
    gap: 40px;
  }

  .header {
    justify-content: center;
    align-items: start;

    > .title {
      font-size: 45px;
      text-align: left;
      max-width: 390px;
      line-height: 1.10;
      letter-spacing: -0.51px;
      margin-bottom: 43px;
    }

    > .lead {
      text-align: left;
      max-width: 510px;
      line-height: 1.60;
      letter-spacing: -0.22px;
    }
  }

  .promo {
    > .highlight-card {
      max-width: 545px;
      height: 62px;
    }

    > .highlight-card > .title {
      max-width: unset;
    }

    
  }
}